<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="theme-header">
        <ion-title>change password</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="content-sec">
        <div class="sign">
            <form class="form-sec" [formGroup]="changepassword">
                <ion-list>
                    <ion-col col-12>
                        <div class="itemouter">
                            <ion-item>
                                <ion-label stacked>Enter your old password</ion-label>
                                <ion-input type="{{type}}" formControlName="password"></ion-input>
                            </ion-item>
                            <button type="button" color="dark" class="eyebutton" (click)="showPassword()" ion-button icon-only clear>
                                <ion-icon name="{{iconname}}"></ion-icon>
                            </button>
                        </div>
                        <p *ngIf="!isValid('password')" color="danger" padding-left>Password required.</p>
                    </ion-col>
                    <ion-col col-12>
                        <div class="itemouter">
                            <ion-item>
                                <ion-label stacked>Enter your new password</ion-label>
                                <ion-input type="{{Ctype}}" formControlName="newpassword"></ion-input>
                            </ion-item>
                            <p *ngIf="!isValid('newpassword')" color="danger" padding-left>New password required.</p>
<!--                            <p *ngIf="!isValidLength('newpassword')" color="danger" padding-left>Enter at least 6 char.</p>-->
                            <button type="button" color="dark" class="eyebutton" (click)="showCPassword()" ion-button icon-only clear>
                                <ion-icon name="{{iconname1}}"></ion-icon>
                            </button>
                        </div>
                    </ion-col>
                    <ion-col col-12>
                        <div class="itemouter">
                            <ion-item>
                                <ion-label stacked>Confirm your new password</ion-label>
                                <ion-input type="{{Ctype1}}" formControlName="cnewpassword"></ion-input>
                            </ion-item>

                            <button type="button" color="dark" class="eyebutton" (click)="showCPassword1()" ion-button icon-only clear>
                                <ion-icon name="{{iconname2}}"></ion-icon>
                            </button>
                            <div class='form-text error' color="danger" *ngIf="changepassword.controls.cnewpassword.touched">
                                <div *ngIf="changepassword.hasError('mismatchedPasswords')">Passwords do not match.</div>   
                            </div>
                        </div>
                    </ion-col>
                </ion-list>
                <div class="frgtpwd">
                    <button type="submit" ion-button [disabled]="!changepassword.valid" (click)="ChangePassword(changepassword)">Save</button>
                </div>
            </form>
        </div>

    </div>
</ion-content>
